body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.resume-container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    color: black;
}

.header p {
    margin: 5px 0;
    color: black;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid  rgb(116, 116, 236);
    padding-bottom: 5px;
}

.section p {
    margin: 5px 0;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.section ul li span {
    display: block;
    font-weight: bold;
}
